<div class="">

  <div ng-show="isSuccess || isError" class="alert"
    ng-class="{ 'alert-error': isError, 'alert-success': isSuccess }" >
      {{ message }}
  </div>
  <h1>{{ title }}</h1>

  <div ng-show="comments.length > 0">
    Search in comments: <input ng-model="comment_query">
  </div>

  <ul class="media-list">
    <li class="media" ng-repeat="comment in comments | filter:comment_query">
       <a class="pull-left" href="#">
         <img class="media-object" src="{{ comment.gravatar }}">
       </a>
      <div class="media-body">
        <h4 class="media-heading" ng-bind="comment.user"></h4>
        <div class="media" ng-bind-html="comment.comment"></div>
        <div ng-bind-html="comment.date"> </div>
      </div>
    </li>
  </ul>

  <div ng-hide="commentSent">
    <form novalidate id="newComment" name="form" ng-submit="addComment(newComment)"  class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input id="name" type="text" ng-model="newComment.name" name="newName" required/>
          <div ng-show="form.newName.$dirty && form.newName.$invalid">
            The username is mandatory
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input id="email" type="email" ng-model="newComment.email" name="newEmail" required/>
          <div ng-show="form.newEmail.$dirty && form.newEmail.$invalid">
            The Email address is invalid or missing
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="newCom">Comment</label>
        <div class="controls">
          <textarea id="newCom" ng-model="newComment.com" name="newCom" required></textarea><br/>
          <div ng-show="form.newCom.$dirty && form.newCom.$invalid">
            The Comment is mandatory is mandatory
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" ng-disabled="form.$invalid">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
