<div class="hero-unit">
  Search: <input ng-model="comment_query">

  <div ng-hide="status" class="alert alert-error">{{error_message}}</div>
  <div ng-show="status && status_message" class="alert alert-success">{{status_message}}</div>
  <h1>{{ title }}</h1>

  <form novalidate id="newComment" name="form">
    <label for="name">Name</label>:
    <div ng-show="form.newName.$dirty && form.newName.$invalid">
      The username is mandatory
    </div>
    <input id="name" type="text" ng-model="newComment.name" name="newName" required/>
    <br/>
    <label for="email">Email</label>:
    <div ng-show="form.newEmail.$dirty && form.newEmail.$invalid">
      The Email address is mandatory
    </div>
    <input id="email" type="text" ng-model="newComment.email" name="newEmail" required/>
    <br/>
    <label for="newCom">Comment</label>:
    <div ng-show="form.newCom.$dirty && form.newCom.$invalid">
      The Comment is mandatory is mandatory
    </div>
    <textarea id="newCom" ng-model="newComment.com" name="newCom" required></textarea><br/>
    <button ng-click="reset()">Reset</button>
    <button ng-click="addComment(newComment)" ng-disabled="form.$invalid">
      Send
    </button>
  </form>

  <ul>
    <li ng-repeat="comment in comments | filter:comment_query">
      {{comment.user}} ({{comment.date}}): {{comment.comment}}
    </li>
  </ul>
</div>
